<h1><%= t('.title') %></h1>

<div class='row'>
  <div class="col-md-4 buffer-top">
    <%= form_tag('', method: 'post') do |f| %>
      <div class="form-group">
        <%= text_field_tag :pincode, params[:pincode], class: 'form-control', placeholder: t('.pincode') %>
      </div>

      <div class="actions">
        <%= submit_tag t('.submit'), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= link_to t('.to_main'), events_path %>
  </div>
</div>

