<h1><%= t ('.title'), title: @event.title %></h1>

<p>Фото добавил: <%= @photo.user.name %></p>
<p><%= image_tag @photo.photo.thumb.url %></p>
<hr/>

<%= t '.event' %>
<h3><%= link_to  @event.title, events_url(@event) %></h3>

<%= t '.author' %>
<h4><%= l @event.datetime %></h4>

<%= t '.owner' %>
<h4><%= @event.user.name %></h4>
