<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <script src="https://use.fontawesome.com/7ab699d630.js"></script>

  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to t('app.name'), root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to t('views.layouts.application.profile'), current_user, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to t('views.layouts.application.sign_out'), destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to t('views.layouts.application.sign_in'), new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to t('views.layouts.application.sign_up'), new_user_registration_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
        <%= bootstrap_flash %>

        <%= yield %>

    <footer>
      <p>&copy; <%= t('app.company') %> 2021 </p>
    </footer>

  </div> <!-- /container -->


  </body>
</html>

